<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>About Me - PriceMaster0-1</title>
    <link rel="stylesheet" href="{{ url_for('static' , filename='/assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="manifest" href="{{ url_for('static' , filename='manifest.json') }}">
    <link rel="stylesheet" href="{{ url_for('static' , filename='/assets/css/Montserrat.css') }}">
    <link rel="stylesheet" href="{{ url_for('static' , filename='/assets/fonts/simple-line-icons.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static' , filename='/assets/css/vanilla-zoom.min.css') }}">

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="/index">Master Price</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/product-page">Product</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about-us">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact-us">Contact Us</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/registration">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page">
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading" style="padding-top: 80px;">
                    <h2 class="text-info">About Us</h2>
                    <p>A up growing team in search to improve their develop skills to ofer products and services made with great quality standars</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block"  src="static/assets/img/avatars/luis-mejia.png">
                            <div class="card-body info">
                                <h4 class="card-title">Luis Mejia</h4>
                                <p class="card-text">BackEnd Developer</p>
                                <div class="icons"><a href="#"><i class="icon-social-github"></i></a><a href="#"><i class="icon-social-linkedin"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- Start: Footer Dark -->
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2022 Copyright Text</p>
        </div>
    </footer><!-- End: Footer Dark -->
    <script src="{{ url_for('static' , filename='/assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <script src="{{ url_for('static' , filename='/assets/js/vanilla-zoom.js') }}"></script>
    <script src="{{ url_for('static' , filename='/assets/js/theme.js') }}"></script>
</body>

</html>