<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - PriceMaster0-1</title>
    <link rel="stylesheet" href="{{ url_for('static' , filename='/assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="manifest" href="{{ url_for('static' , filename='manifest.json') }}">
    <link rel="stylesheet" href="{{ url_for('static' , filename='/assets/css/Montserrat.css') }}">
    <link rel="stylesheet" href="{{ url_for('static' , filename='/assets/fonts/simple-line-icons.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static' , filename='/assets/css/vanilla-zoom.min.css') }}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="/index">Master Price</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/product-page">Product</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about-us">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact-us">Contact Us</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/registration">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page landing-page">
        <section class="clean-block clean-hero" style="background-image:url(&quot;static/assets/img/scenery/background.jpg&quot;);color:rgba(9, 162, 255, 0.85);">
            <div class="text">
                <h2>Easy Way to Search the Best Choice</h2>
            </div>
        </section>
        <section class="clean-block clean-info dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Search</h2>
                    <div class="input-group"><input type="search" id="search-1" class="form-control" placeholder="search"><button class="btn btn-primary fas fa-search" type="button"></button></div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6"><img class="img-thumbnail" src="static/assets/img/scenery/surf.jpg"></div>
                    <div class="col-md-6">
                        <h3>Surf between thousand items..</h3>
                        <div class="getting-started-info">
                            <p>The most big database to help people to search anything in the market</p>
                        </div><button class="btn btn-outline-primary btn-lg" type="button" onclick="javascript:void(window.open('/login'));">Join Now</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="clean-block features">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Features</h2>
                    <p>Simple, free, and ready to use</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 feature-box"><i class="icon-star icon"></i>
                        <h4>Big Community</h4>
                        <p>With suport of thousand of users, we improve our services to give you the best results</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-pencil icon"></i>
                        <h4>Customizable</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-screen-smartphone icon"></i>
                        <h4>Responsive</h4>
                        <p>Use everywhere,&nbsp; anytime.</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-refresh icon"></i>
                        <h4>All Browser Compatibility</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">About Us</h2>
                    <p>A up growing team in search to improve their develop skills to ofer products and services made with great quality standars</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="static/assets/img/avatars/luis-mejia.png">
                            <div class="card-body info">
                                <h4 class="card-title">Luis Mejia</h4>
                                <p class="card-text">Back-end Developer</p>
                                <div class="icons"><a href="#"><i class="icon-social-github"></i></a><a href="#"><i class="icon-social-linkedin"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- Start: Footer Dark -->
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2022 Copyright Text</p>
        </div>
    </footer><!-- End: Footer Dark -->
    <script src="{{ url_for('static' , filename='/assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <script src="{{ url_for('static' , filename='/assets/js/vanilla-zoom.js') }}"></script>
    <script src="{{ url_for('static' , filename='/assets/js/theme.js') }}"></script>
</body>

</html>